---
const year = new Date().getFullYear();
---

<footer class="ftr">
  <div class="ftr__inner">
    
    <!-- Left: Echo command -->
    <div class="ftr__echo">
      <span class="ftr__prompt">$</span>
      <span class="ftr__cmd">echo</span>
      <span class="ftr__text">"built by <span class="ftr__name">Cynthia</span> © {year}"</span>
    </div>
  </div>
</footer>