---
const {
  title = "Cynthia West Portfolio",
  description = "Portfolio 2026",
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="icon" type="image/svg+xml" href="src/assets/images/favicon.svg" />
    <title>{title}</title>
  </head>
  
    <div class="relative z-10">
      <slot />
    </div>
  </body>
</html>
